# ANN Prediction

In [2]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [5]:
model = load_model("models/model.keras")

with open("models/label_encoder_gender.pkl", 'rb') as f:
    label_encoder_gender = pickle.load(f)
    
with open("models/one_hot_encoder_geography.pkl", 'rb') as f:
    one_hot_encoder_geography = pickle.load(f)
    
with open("models/scaler.pkl", 'rb') as f:
    scaler = pickle.load(f)

C:\Users\Prateek Kumar\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\saving\saving_lib.py:757: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 8 variables whereas the saved optimizer has 14 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

### Accuracy of model

In [ ]:
input_data = {
    'CreditScore' : 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [19]:
input_data_df = pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [20]:
# Label encoding of Gender
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
input_data_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [21]:
# One-Hot Encoding of Geography
geo_encoded = one_hot_encoder_geography.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\Prateek Kumar\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [22]:
input_df = pd.concat([input_data_df.drop(['Geography'], axis=1), geo_encoded_df], axis=1)

In [23]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [24]:
input_scaled = scaler.transform(input_df)

In [25]:
input_scaled

array([[-0.52544045,  0.90750738,  0.10007155, -0.6962018 , -0.2629485 ,
         0.80883036,  0.64104192,  0.97067965, -0.86742511,  1.00175153,
        -0.57831252, -0.57773517]])

In [27]:
# Predict Churn
prediction = model.predict(input_scaled)
print(prediction)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 465ms/step
[[0.18286388]]

In [28]:
prediction_prob = prediction[0][0]

In [30]:
print(prediction_prob)

0.18286388